{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="https://github.com/yukitomeow/my_second_django_blog" class="github">
                Link to github
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'post:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            
            <h3>Welcome to Blog</h3>
        </div>
        <div class="content container">
            {% if user.is_authenticated %}
                <h3>Hello {{ user.first_name }}</h3>
                <h4>You are successfully logged in.</h4>
            
                <button type="submit"><a href="/signout">SignOut</a></button>
            {% else %}
                <button type="submit"><a href="/signup">SignUp</a></button>
                <button type="submit"><a href="/signin">SignIn</a></button>
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>